a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}
.blog-card {
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 3%;
}
.blog-card-blog-page {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 40%;
}
.blog-card-latest {
    text-align: left;
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
.latest {
    font-size: medium; 
}
.break {
    height: 5%;
    font-size: medium;
    font-weight: 500;
    border: 2px solid black;
    margin-bottom: 25%;
    width: 75%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
    margin-top: 2.5%;
}
.break-form {
    height: 5%;
    font-size: larger;
    font-weight: 600;
    border: 2px solid black;
    width: 75%;
    margin: auto;
    margin-top: -3%;
}
.user {
    display: block;
    position: absolute;
    border: 4px double rgba(167, 165, 165, 0.76);
    padding: 1rem;
    margin: auto;
    width: 75%;
    top: 10rem;
    left: 12.5%;
}
.user-name {
    margin: 1rem;
    margin-bottom: -20px;
    font-weight: 600;
    font-size: x-large;
    font-variant: small-caps;
}
.user-email {
    font-weight: 500;
    font-size: medium;
    color: rgb(88, 88, 88);
}
.user-bio {
    color: black;
    font-style: italic;
    font-weight: 600;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px dashed #58585880;
    border-radius: 5%;
    padding: 2.5%;
}
.heading {
    font-size: larger;
    font-style: italic;
    font-weight: 700;
}
#create-blog {
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 57.5rem;
    margin-bottom: 10%;
    border: 2px dashed rgba(167, 165, 165, 0.76);
    padding: 1%;
    padding-bottom: 0.5%;
}
.add-icon {
    background-color: #000;
    color: white;
    border-radius: 50%;
    transform: scale(1.5);
    position: fixed;
    margin-top: 30%;
    margin-left: 27.5%;
}
.button-form {
    width: 60%
}
.button-form {
    width: 60%
}
.buttons {
    position: relative;
    width: 100%;
}
.button-form-submit {
    display: inline-block;
    font-weight: 500;
    font-size: medium;
    border-radius: 5%;
    width: 60%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 75%;
    width: 25%;
}
.button-form-reset {
    display: inline-block;
    font-weight: 500;
    font-size: medium;
    border-radius: 5%;
    width: 60%;
    height: auto;
    text-align: center;
    position: relative;
    left: 7.5%;
    width: 25%;
}
.profile-image-dashboard, .profile-image-blog {
    border-radius: 50%;
    text-align: center;
    
}
.user-bio-blog {
    display: none;
}
@media only screen and (min-width: 1280px) {
    a {
        text-decoration: none;
        color: #000;
    }
    a:hover {
        color: #000;
    }
    .all-blogs {
        
        text-align: left;
        width: 60%;
        margin: auto;
        margin-top: 3%;
        margin-left: 16%;
        
        
    }
    .blog-card {
        text-align: left;
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
        padding-bottom: 4%;
    }
    .blog-card-blog-page {
        text-align: left;
        display: block;
        width: 67.5%;
        margin: auto;
        margin-top: 3%;
        margin-left: 16%;   
        margin-bottom: 10%;     
        padding-bottom: 8%;
    }
    .blog-card-latest {
        text-align: left;
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 3%;
    }
    .blog-card-latest:hover {
        transform: scale(1.05);
        -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
        animation-timing-function: linear;    
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .blog-card:hover {
        transform: scale(1.05);
        -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
        animation-timing-function: linear;    
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .latest {
        font-size: medium; 
    }
    .break {
        height: 5%;
        border: 2px solid black;
        margin-bottom: 15%;
        width: 100%;
        margin-top: 3%;
        text-align: center;
    }
    .break-form {
        height: 5%;
        font-size: larger;
        font-weight: 600;
        border: 2px solid black;
        width: 60%;
        margin: auto;
        margin-top: 1.25%;
        margin-left: 16%;
        margin-bottom: 3%;
    }
    .blog {
        display: inline-block;
        position: absolute;
    }
    .user {
        display: inline-block;
        position: absolute;
        border: 5px double rgba(131, 131, 131, 0.76);
        padding: 1rem;
        margin: auto;
        width: 17%;
        top: 18.5%;
        left: 80%;
        height: auto;
    }
    .user-name {
        margin: 1rem;
        margin-bottom: -20px;
        font-weight: 600;
        font-size: x-large;
        font-variant: small-caps;
    }
    .user-email {
        font-weight: 500;
        font-size: medium;
        color: rgb(88, 88, 88);
    }
    .goto-profile {
        font-weight: 400;
        font-size: medium;
        color: rgb(88, 88, 88);
    }
    .heading {
        font-size: larger;
        font-style: italic;
    }
    #create-blog {
        margin-top: 10%;
        margin-bottom: 30%;
        display: block;
        width: 60%;
        margin: auto;
        margin-top: 3%;
        margin-left: 16%;
        border: 2px dashed rgba(167, 165, 165, 0.76);
        padding: 1%;
        padding-bottom: 0.5%;
    }
    .button-form {
        width: 60%
    }
    .buttons {
        position: relative;
        width: 100%;
    }
    .button-form-submit {
        display: inline-block;
        font-weight: 500;
        font-size: medium;
        border-radius: 5%;
        width: 60%;
        height: auto;
        text-align: center;
        position: absolute;
        left: 92.5%;
        width: 7.5%;
    }
    .button-form-reset {
        display: inline-block;
        font-weight: 500;
        font-size: medium;
        border-radius: 5%;
        width: 60%;
        height: auto;
        text-align: center;
        position: relative;
        left: 37.5%;
        width: 7.5%;
    }
    .card-date {
        display: inline-block;
        position: absolute;
        right: 3.5%;
        bottom: 1%;
    }
    .article-text {
        width: 85%;
    }
    .profile-image-dashboard {
        position: absolute;
        border-radius: 50%;
        margin-left: 79%;
        margin-top: -7%;
    }
    .profile-image-blog {
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        margin-left: 76.5%;
        top: 7.5%;
    }
    .user-bio-blog {
        display: inline-block;
        position: absolute;
        margin-left: 83%;
        margin-top: 10.5%;
        margin-bottom: 7.5%;
        color: black;
        font-style: italic;
        font-weight: 600;
        width: 15%;
        border: 1px dashed #58585880;
        border-radius: 2%;
        padding: 1%;
        text-align: center;
    }
    .article-text{
        text-align: left;
        width: 80%;
    }
    .card-subtitle {
        margin-bottom: 5%;
    }
}